/* .horizontal {
    width: 30em;
    overflow-x: auto;
    white-space: nowrap;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
   overflow-x: auto;
}

.card {
 flex: 0 0 auto; 
    width: 250px;
       background-color: rgba(5, 5, 5, 0.889);
      opacity: 90%;
      color: #fff;
      margin-left: 5px;
      margin-right: 5px; 
    }
 */
